*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box
}
.but{
   
   position: absolute;
   height: max-content;
   width: max-content;
position: absolute;

right: 40px;
 top:5%;
 opacity: 0.9;
}
.anc{
 font-size: x-large;
 color:white;
margin-right: 20px;
 text-decoration: none;
 
}

.sec{
height: 550px;
display: flex;
background: url(./pic/back.webp)no-repeat center center/cover;
justify-content: center;
font-size: 30px;
color:white;
flex-direction: column;
text-align: center;
}

#head{
    display: block;
    font-size: 100px;
    font-style: normal;
    
}


       /* content */
.para{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    height: 1000px;
    color: black;
    
}
.para {
    margin-top: 25px;
}
.para h2{
    font-size: 30px;
}
.para p{
   position:relative;
   top: 20px;
   font-size: 18px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}